@import url('normalize.css');
@import url('reset.css');

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600;700&family=Noto+Serif&display=swap');


/* layout */
* {
    box-sizing: 
    border-box;
}

body {
    width: 100%;
    height: 100%;
    margin-top: 30px;
    /* border: 1px solid orange; */
}

#intro {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    display: none;
    /* border: 1px solid #000; */
}

#left_wrap {
    width: 80%;
    background: #F2EDE9;
    /* border: 1px solid #666; */
}

#right {
    width: 20%;
    /* border: 1px solid #666; */
}

/* typography */
body {
    font: 18px 'Inter', sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

#left > ul > li {
    font: 14px 'Noto Serif', serif;
}

/* link & button */


/* ani class */

.block_no {
    opacity: 0;
    transition: opacity .7s ease;
}

/* intro content */
#left_wrap #left {
    width: 75%;
    display: flex;
    justify-content: center;
    transform: translateX(32%);
}

#left_wrap {
    position: relative;
}

#left_wrap h1 {
    position: absolute;
    left: 50%;
    bottom: 50px;
    transform: translateX(-65%);
    font-size: 132px;
    font-weight: bolder;
}

#left_wrap #left > ul:first-child {
    width: 35%;
}

#left_wrap #left > ul:nth-child(2) {
    width: 40%;
}

#left_wrap #left > ul:last-child {
    width: 25%;
    position: relative;
}

.li_bottom {
    position: absolute;
    left: 5px;
    bottom: 0;
}

#left_wrap #left > ul > li {
    text-indent: 42px;
    letter-spacing: 3px;
    padding: 2px 0;
}

#left_wrap #left > ul > li:last-child {
    font: 18px inter;
    font-weight: bold;
    padding-top: 25px;
    letter-spacing: 5px;
}

#left_wrap #left > ul {
    border-left: 1px solid #333;
    padding-top: 35px;
    
}

#right {
    position: relative;
}

#right > div:first-child p {
    position: absolute;
    top: 50px;
    right: 105px;
    width: 85px;
    transform: rotate(90deg);
    font-weight: bolder;
    display: none;
}

#right > div:first-child p:nth-child(2) {
    top: 155px;
}

#right > div:first-child p:nth-child(3) {
    top: 260px;
}

#right > div:first-child p:nth-child(4) {
    top: 345px;
}

#right > div:first-child p:nth-child(5) {
    top: 430px;
    /* right: 105px; */
}

#right > div:first-child p:nth-child(6) {
    top: 451px;
    /* right: 151px; */
}

#right > div:first-child p:nth-child(7) {
    top: 477px;
}

#right > div:first-child p:nth-child(8) {
    top: 582px;
}

#right > div:first-child p:nth-child(9) {
    top: 640px;
}

#right > div:last-child p {
    position: absolute;
    bottom: 50px;
    right: 105px;
    width: 75px;
    transform: rotate(90deg);
    font-weight: bolder;
    letter-spacing: 2px;
}

#right > div:first-child {
    height: 70%;
}

#right > div:last-child {
    height: 30%;
}

/* main content */
#main_wrap {
    width: 100%;
    /* border: 1px solid orange; */
}

/* 공통되는 css _ img, h3, 간격, font-size, color */
img {
    width: 55%; 
    margin-top: 50px;
    border: 5px solid #666;
    border-radius: 5px;
}

h3 {
    font-size: 112px;
    font-weight: 650;
    padding-top: 200px;
    padding-bottom: 50px;
    padding-left: 160px;
}

#project, #code_exercise, #profile {
    width: 90%;
    margin: 0 auto;
    /* border: 1px solid #666; */
}

.first_page, .second_page, .third_page {
    width: 95%;
    margin: 0 auto;
    /* border: 1px solid #666; */
}

.project_list, .code_exercise_list {
    padding-top: 50px;
    margin: 0 auto;
    color: #333;
    /* border: 1px solid #e4e4e4; */
}

.small_list li a {
    display: block;
    padding: 5px 7px;
}

.profile_list_1, .profile_list_2 {
    color: #333;
}

figcaption {
    font-size: 36px;
    font-weight: bold;
    letter-spacing: 2.2px;
    padding: 7px 9px;
    text-indent: 9px;
}

figcaption > span {
    display: block;
    font-size: 16px;
    font-weight: normal;
    letter-spacing: 1px;
    padding-top: 5px;
}

/* main content */
#main_wrap #first_page {
    width: 100%;
    /* height: 100vh; */
    /* border: 3px solid blue; */
}

header {
    width: 100%;
    margin: 0 auto;
    height: 60px;
    line-height: 60px;
    /* border: 3px solid #666; */
    position: sticky;
    /* padding-top: 60px; */
    top: 0;
    background-color: #fff;
    z-index: 10;
}

#header_wrap {
    width: 90%;
    height: 60px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    /* border: 1px solid red; */
}

#title_wrapper {
    position: relative;
    /* border: 2px solid yellow; */
}

header h2 {
    font-size: 60px;
    font-weight: bold;
    letter-spacing: 1px; 
    position: absolute;
}

header .nav {
    display: flex;
    justify-content: center;
    /* border: 1px solid #000; */
}

.nav li {
    padding-left: 75px;
    padding-right: 75px;
    
}

.nav li a {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2px;
}

.small_list {
    display: flex;
    width : 30%;
    margin-left: 70px;
}

.small_list li {
    padding-bottom: 2px;
    padding-right: 2px;
    margin: 0;
}

.small_list li a {
    border: 1px solid #666; /* 지우지 말것, 버튼 테두리 */
    border-radius: 30px;
    padding: 8px 13px;
    margin: 3px;
    font-size: 16px;
}

#code_exercise > .small_list {
    flex-wrap: wrap;
}

/* first_page */
    
    /*  테이퍼드, 영화리스트 크기 같게 1, 5
        코코도르, 투두리스트 이미지 크기 줄이고 2, 6
        리액트 페이지 조금 작게
        팀프로젝트 좀 더 작게    */


/* 오른쪽 */
.project_list li:nth-child(1), 
.project_list li:nth-child(3), 
.project_list li:nth-child(6) {
    text-align: right;
}

/* 왼쪽 */
.project_list li:nth-child(2), .project_list li:nth-child(5) {
    text-align: left;
}

/* 가운데 */
.project_list li:nth-child(4) {
    text-align: center;
    padding-top: 135px;
    padding-bottom: 75px;
}

/* 이미지 크기 */
.project_list li:nth-child(2) img, .project_list li:nth-child(6) img {
    width: 23%;
    border-radius: 35px;
}

.project_list li:nth-child(4) img {
    width: 45%;
    border: 2px solid #666;
}

.project_list li:nth-child(3) img {
    width: 47%;
}

.project_list li:nth-child(5) img {
    width: 40%;
}

/* 간격 */
.project_list li:nth-child(3) {
    padding-bottom: 20px;
}

/* 글씨 왼쪽정렬 */
.project_list li:nth-child(1) figcaption {
    transform: translateX(-33.2%);
} 
.project_list li:nth-child(3) figcaption {
    transform: translateX(-28.7%);
}
.project_list li:nth-child(4) figcaption {
    transform: translateX(-15.1%);
} 
.project_list li:nth-child(6) figcaption {
    transform: translateX(-9%);
}

.project_list li:nth-child(1) figcaption > span {  
    transform: translateX(-11%);   
}

.project_list li:nth-child(3) figcaption > span {  
    transform: translateX(-7.5%);
}

.project_list li:nth-child(4) figcaption > span {  
    transform: translateX(-3.3%);
}

.project_list li:nth-child(6) figcaption > span {  
    transform: translateX(-6.5%);
}

    /* 글씨크기 */
.project_list li:nth-child(2) figcaption, 
.project_list li:nth-child(5) figcaption,
.project_list li:nth-child(6) figcaption {
    /* 기본 : 36px */
    font-size: 32.5px;
}

.project_list li:nth-child(3) figcaption {
    font-size: 33px;
}

.project_list li:nth-child(4) figcaption {
    font-size: 33px;
}

/* second_page */

    /* 이미지 정렬, 이미지 크기*/

.code_exercise_list li:nth-child(1),
.code_exercise_list li:nth-child(4) {
    text-align: right;
}

.code_exercise_list li:nth-child(2), 
.code_exercise_list li:nth-child(5) {
    text-align: left;
}

.code_exercise_list li:nth-child(3) {
    text-align: center;
}

.code_exercise_list li img {
    width: 45%;
    border: 2.5px solid #666;
}

.code_exercise_list li:last-child img {
    border: none;
    width: 35%;
}

.code_exercise_list li {
    padding-bottom: 145px;
}

    /* 글씨 왼쪽정렬 */
.code_exercise_list li:nth-child(1) figcaption {
    transform: translateX(-30%);
} 

.code_exercise_list li:nth-child(4) figcaption {
    transform: translateX(-22.3%);
}

.code_exercise_list li:nth-child(3) figcaption {
    transform: translateX(-12.7%);
} 

    /* 글씨크기 */
.code_exercise_list li figcaption {
    font-size: 28px;
}

/* third_page */
#third_page {

    border: 1px solid blue;
    padding-bottom: 75px;
}

/* grid */
#profile {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* border: 1px solid #666; */
}

.profile_list_1, .profile_list_2 {
    /* border: 1px solid orange; */
    padding-left: 65px;
    display: flex;
    flex-wrap: wrap;
}

.profile_list_1 li, .profile_list_2 li {
    /* border: 1px solid #e4e4e4; */
    width: 79%;
    padding: 5px 0;
}

.profile_list_1 li:nth-child(odd), 
.profile_list_2 li:nth-child(odd) {
    font-weight: bold;
    letter-spacing: 1px;
    width: 19%;
}

.profile_list_1 li:nth-child(even) {
    padding-left: 37px;
}

.profile_list_1 li:nth-child(1) { /* 이름 */
    font-size: 22px;
    font-weight: bolder;
    padding-bottom: 30px;
}

    /* 간격 */
.profile_list_1 li:nth-child(4), 
.profile_list_1 li:nth-child(6),
.profile_list_1 li:nth-child(14) {
    padding-bottom: 25px;
}

.profile_list_1 li:nth-child(7),
.profile_list_1 li:nth-child(8) {
    height: 31px;
}

    /* 글자크기 */
.profile_list_1 li:nth-child(even), 
.profile_list_2 li:nth-child(even) {
    font-size: 15px;
    letter-spacing: 1px;
}

/* % 막대 */
.profile_list_1 li.percent a, 
.profile_list_1 li.percent span {
    display: inline-block;
}

.profile_list_1 li.percent a {
    width: 40%;
    height: 20px;
    margin-right: 12px;
    border: 1px solid #b4b4b4; /* 지우지 말기 */
    border-radius: 12px;
    text-align: left;
}

.profile_list_1 li.percent span {
    width: 86.4%;
    height: 9px;
    transform: translate(4.6px, -1.5px);
    background: #DDB9A7;
    border-radius: 12px;
}

.profile_list_1 li.eight span {
    width: 76.8%;
}

.profile_list_1 li.seven span {
    width: 67.2%;
}

.profile_list_2 li {
    position: relative;
}

.profile_list_2 li span {
    position: absolute;
    top: 52.5%;
    left: 0;
}

/* footer */
footer {
    width: 100%;
    height: 85px;
    line-height: 85px;
    text-align: center;
}