@charset "utf-8";

h1 {text-align: center; padding-top:50px;}
a {text-decoration: none; color:#666;}
.box {width:100%; padding-top:20px;}
.slick-buttons {margin-bottom:8px; text-align: left; text-align: center;}
.slick-buttons a {cursor:pointer; font-size:0.8rem; margin-left:8px;}
.store2 { width:100%; padding:5px;} /* 슬라이더 전체를 감싸는 ul */
.store2 li {float:left; width:50%; padding-right:10px;
          box-sizing: border-box;}
.store2 img {width:100%;}
.store2 span {display:block; }
.store a {text-decoration: none;}
.aa {text-align:center; padding-top:10px;
      font-size:0.8rem; letter-spacing:1px; margin:7px 0 3px 0;}
span.bb {display:none; text-align: center; color:#bf8dc0; font-size:0.7rem;}
.asd {display:none;}
.store2 li {position: relative;}
.store2 li p {position:absolute; left:0; top:40px; width:100%; height:100%;
              font-size: 0.7rem; color:black; text-align: center;}

              .store2 li:hover .asd {opacity: 1; }
              .store2 li:hover img {opacity: 0.5;}


/* .slider img {width:100%!important;} */
.on {color:#bf8dc0; border-bottom:1px solid rgb(192, 141, 192);}
.box {margin:10px auto; position:relative;}

.slider button {position: absolute; bottom:50%; z-index:999; font-size:0;
                background:none; border:none; outline:none; cursor: pointer;}
.slider button:before {font-family:"xeicon"; color:gray; font-size:50px;}
.slider button.slick-prev {left:-55px; font-size:0; color:transparent;}
.slider button.slick-prev:before {content:"\e93d";}
.slider button.slick-next {right:-55px; font-size:0; color:transparent;}
.slider button.slick-next:before {content:"\e940";} 
.slick-dots {position:absolute; bottom:-25px; left:50%;
            transform:translateX(-50%); text-align:center;}
.slick-dots li {width:23px; height:20px; display:inline-block;}
.slick-dots >li >button {font-size:0; color:#fff; width:15px; height:15px; 
                        background: #dfdbdb; border-radius: 100%; border:none;}
.slick-dots >li.slick-active button {background:#ce94d3;}